<!-- <html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>
    <%- include('_header'); %>
    <h1>Codeial / user's profile</h1>
    <%- include('_footer'); %>
</html> -->
<link rel="stylesheet" href="/css/user_profile.css">
<h1>Codeial / user's profile</h1>

